/* src/App.css */
.card-container-wrapper {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping if necessary */
    justify-content: space-around; /* Adjust spacing between cards */
    padding: 20px;
    background-color: #fffcfc;
  }
  